.popup__save-button_disabled {
    border: 1px solid #000000;
    opacity: .2;
    background: none;
    color: #000000;
    cursor: default;
}

.popup__save-button_disabled:hover {
    opacity: .2;
}