.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 30px 51px 0;
}

@media screen and (max-width: 900px) {
    .profile__avatar {
        margin: 0 15px 51px 0;
    }
}

@media screen and (max-width: 600px) {
    .profile__avatar {
        margin: 0 auto 22.25px;
    }
}
